@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/Roboto/roboto-v30-cyrillic-regular.eot?#iefix') format('embedded-opentype'),
  url('@/assets/Roboto/roboto-v30-cyrillic-regular.woff2') format('woff2'),
  url('@/assets/Roboto/roboto-v30-cyrillic-regular.woff') format('woff'),
  url('@/assets/Roboto/roboto-v30-cyrillic-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('@/assets/Roboto/roboto-v30-cyrillic-italic.eot?#iefix') format('embedded-opentype'),
  url('@/assets/Roboto/roboto-v30-cyrillic-italic.woff2') format('woff2'),
  url('@/assets/Roboto/roboto-v30-cyrillic-italic.woff') format('woff'),
  url('@/assets/Roboto/roboto-v30-cyrillic-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/Roboto/roboto-v30-cyrillic-700.eot?#iefix') format('embedded-opentype'),
  url('@/assets/Roboto/roboto-v30-cyrillic-700.woff2') format('woff2'),
  url('@/assets/Roboto/roboto-v30-cyrillic-700.woff') format('woff'),
  url('@/assets/Roboto/roboto-v30-cyrillic-700.ttf') format('truetype');
}

:root {
  --el-color-primary: #264653;
  --el-color-primary-light-3: #677e87;
  --el-color-primary-light-5: #93a3a9;
  --el-color-primary-light-7: #bec8cb;
  --el-color-primary-light-8: #d4dadd;
  --el-color-primary-light-9: #e9edee;
  --el-color-primary-dark-2: #1e3842;
  --el-color-success: #2A9D8F;
  --el-color-warning: #E9C46A;
  --el-color-danger: #E76F51;
  --el-color-error: #E76F51;
  --el-color-info: #ADB5BD;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-size: 14px;
  font-family: Roboto, sans-serif;
}

html, body, #app {
  width: 100%;
  height: 100%;
}
#app {
  overflow: auto;
}
html, body {
  overflow: hidden;
}

/*scanner view*/
.scanner-wrapper {
  padding: 10px;

  display: grid;
  height: 100vh;
  width: 100vw;
  gap: 10px;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 40px minmax(100px, 10%) minmax(200px, 20%) 30px;

  justify-content: stretch;
  align-content: stretch;

  background: rgb(250, 250, 250);
}

.number-wrapper {
  align-self: stretch;
  justify-self: stretch;
  grid-column: span 2;

  display: flex;
}
.number-input {
  height: 100%;
  margin-right: 10px;
}
.number-input .el-input__inner {
  font-size: 16px;
  text-align: center;
}
.number-input .el-input__inner::-webkit-outer-spin-button,
.number-input .el-input__inner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.number-scan-button {
  margin-left: auto;

  height: 100%;
  font-size: 16px;
}

.settings-wrapper {
  align-self: stretch;
  justify-self: stretch;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;

  border-radius: 3px;
  border: 1px solid var(--el-border-color);

  background: white;
}

/* table with events */
.event-wrapper {
  overflow: auto;

  align-self: stretch;
  justify-self: stretch;

  grid-column: span 2;

  border-radius: 3px;
  border: 1px solid var(--el-border-color);

  background: white;
}

/* event box scrollbar */
.event-wrapper::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: transparent;
}
.event-wrapper::-webkit-scrollbar-track {
  background: rgb(225, 223, 221);
}
.event-wrapper::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgb(138, 136, 134);
}

/* footer */
.time-wrapper {
  align-self: stretch;
  justify-self: stretch;
  grid-column: span 2;

  display: flex;
  align-items: center;
}
.time {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  width: 100%;
  height: 100%;

  color: var(--el-color-primary);
  font-size: 16px;

  border-radius: 3px;
  border: 1px solid var(--el-border-color);

  background: white;
}
.settings-button {
  width: 25px;
  height: 100%;
}
.gray-log {
  opacity: .5;
}
.red-log {
  fill: red;
}

/*modal*/
.select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 10px;
  padding: 0 0 20px;

  border-bottom: 1px solid var(--el-border-color);
}
.stage-select {
  width: 100%;
  margin-right: 10px;
}
.popper-stage-select {
  max-width: calc(100vw - 40px);
  overflow-x: auto;
}
.color-wrapper {
  margin: 10px 10px 0;
}
.color-title {
  margin-bottom: 10px;
  line-height: var(--el-dialog-font-line-height);
  font-size: var(--el-dialog-title-font-size);
  color: var(--el-text-color-primary);
}
.el-color-picker, .el-color-picker__trigger {
  width: 100px;
}

#camera {
  width: 100%;
  height: 65vh;
}
.camera-select {
  margin-top: 20px;
  width: 100%
}
.camera-block {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50vh;

  color: black;

  font-size: 20px;
  text-align: center;
}

.el-dialog__body {
  padding: 10px;
}

.warning-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.warning-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Aller, sans-serif;
}
.warning-subtitle {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  font-family: Aller, sans-serif;
  line-height: 1;
}

@media (max-width: 800px), (orientation: landscape) and (max-height: 700px), (max-height: 700px){
  html {
    font-size: 10px;
  }
  .scanner-wrapper {
    height: unset;
    overflow: auto;

    grid-template-rows: 400px 40px repeat(2, 60px) minmax(200px, auto) 30px;
  }

  .settings-wrapper {
    height: 60px;
    grid-column: span 2;
  }
  .settings-group {
    width: 100%;
    justify-content: space-between;
  }
  .settings-radio {
    width: 45%;
  }
  .el-radio__label {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
@media screen and (max-width: 450px) {
  .settings-radio {
    padding: 0 5px !important;
    width: 49%;
    margin: 0;
  }
}
@media (max-height: 600px) {
  .scanner-wrapper {
    grid-template-rows: 200px 40px repeat(2, 60px) minmax(200px, auto) 30px;
  }
}
